
.text-danger {
    color: red !important;
    margin-bottom: 10px;
    position: absolute;
    top: 60px;
}

.modal-error{
    color: red !important;
    margin-bottom: 10px;
    position: absolute;
       bottom: -37px;
}