@import '../../assets/style/common/variables';

button {
    padding: 10px;
    border: 0;
    border-radius: 6px;
    box-shadow: none;
    outline: 0;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
    box-shadow: 0.5px 0.866px 12px rgba(57,57,57,0.1);
    
    &.submit {
        background-color: #957945;   
        border-radius: 10px;
    }

    &.upload-button {
        background-color: #957945;  
        padding: 10px 30px; 
    }

    &.submit-button {
        background-color: #957945;   
        border-radius: 10px;
        padding: 13px 8.5%;
        margin-left: 20px;
        box-shadow: 0.5px 0.866px 12px rgba(131,114,85,0.1);
    }
    &.login-button{
        background-color: $tertiary-color; //#957945;   
        border-radius: 10px;
        padding: 13px 17%; 
        margin-top: 30px;
        box-shadow: 0.5px 0.866px 12px rgba(131,114,85,0.1);
    }
    &.save-button {
        background: #ffffff;
        border:1px solid #957945;   
        border-radius: 10px;
        color: #957945;
        padding: 13px 8.5%;
        margin-left: 20px;
    }

    &.edit-button {
        background-color: #957945;
        border-radius: 10px;
        padding: 13px 10%;
        margin-top: 30px;
        box-shadow: 0.5px 0.866px 12px;
    }

    &.save-preview-button {
        background: #ffffff;
        border:1px solid #957945;   
        border-radius: 10px;
        color: #957945;
        padding: 13px 5%;
        margin-left: 20px;
    }

    &.preview-button {
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 600;
        box-shadow: none;
        background-color: #ffffff;
        color: #957945;
        font-size: 16px;
        cursor: pointer;
    }

    &:focus,
    &:hover {
        outline: 0 !important;
        box-shadow: none;
    }
}

@media only screen and (max-width:991px) {
    button {
        &.submit-button, &.save-button {
            margin-left: 8px;
        }
    }
}